# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/

# macOS
.DS_Store

# Project specific
audits/
*.csv
*.xlsx
audit_cache.json
